@font-face {
  font-family: "montserrat-bold";
  src: url(./Montserrat-Black.ttf);
}

@font-face {
  font-family: "open-sans-regular";
  src: url(./OpenSans-Regular.ttf);
}

@font-face {
  font-family: "montserrat-light";
  src: url(./Montserrat-Light.ttf);
}

body {
  overflow-x: hidden;
}

*,
.open-sans-regular {
  font-family: "open-sans-regular";
}

.montserrat-light {
  font-family: "montserrat-light";
}

/* Titulos */
.montserrat-bold {
  font-family: "montserrat-bold" !important;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.rights {
  font-size: 0.7em;
}

@media (max-width: 768px) {
  /* MOBILE */
  h2 {
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.9em;
  }

  footer p {
    font-size: 0.7em;
  }

  .intro {
    min-height: 65vh !important;
  }

  .nav-link {
    text-align: end;
    font-size: 0.9em !important;
  }
}

.titulo {
  font-size: 3em;
}

.somos-expertos {
  font-size: 1.2em;
  font-family: "montserrat-light";
}

.justify-text {
  text-align: justify;
  word-wrap: break-word;
}

.btn-minery {
  border: none !important;
  background: rgb(61, 223, 223);
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  letter-spacing: 2px;

  font-family: "montserrat-light";
  background: linear-gradient(
    90deg,
    rgba(61, 223, 223, 1) 0%,
    rgba(19, 165, 230, 1) 100%
  );
  transition: all linear 0.3s;
}
.btn-minery:hover {
  background: rgb(61, 223, 223);
  background: linear-gradient(
    90deg,
    rgba(19, 165, 230, 1) 0% rgba(61, 223, 223, 1) 100%
  );
}

sub-titulo {
  font-size: 1.3em;
}

@media (max-width: 768px) {
  /* MOBILE */
  .section-title {
    font-family: "montserrat-bold";
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .titulo {
    font-size: 1.8em;
  }

  .somos-expertos {
    font-size: 1.1em;
  }

  .sub-title {
    font-size: 1em;
  }

  .quienes-somos-card h3 {
    font-size: 0.9em !important;
  }

  .footer-sub-title {
    font-size: 0.8em;
  }

  .social-links {
    font-size: 2em;
  }

  .social-links-instagram {
    font-size: 2.1em;
  }

  .sm-justify-text {
    text-align: justify;
    word-wrap: break-word;
  }
}

.cardRig {
  border-radius: 36px;
  margin-top: -6vh;
  padding-top: 5vh;
  position: relative;
}

.iconCripto {
  height: auto;
  width: 15%;
  position: absolute;
  top: -2vh;
  left: 42%;
}

.card-bg {
  background-color: #f9f9f9;
}

.text-shadow {
  text-shadow: 0 0 10px black;
}

.m-centrer {
  margin-left: auto;
  margin-right: auto;
}

.min-h-50 {
  min-height: 50vh;
}

.text-justify {
  text-align: justify;
}

.aqua {
  color: #55ffdb;
}

.white {
  color: white;
}

.blue {
  color: #008be9 !important;
}

.dark {
  color: black !important;
}

.green {
  color: #3eac5c;
}

.yellow {
  color: #ffb537;
}

.violet {
  color: #627eea;
}

.dark-bg {
  background-color: #212121;
}
.grey-bg {
  background-color: #ededed;
}
.blue-bg {
  background: #008be9;
}
.icon-bg {
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon img {
  height: 2em;
  width: auto;
}

.bitcoins-tab img {
  opacity: 0.4;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-item .active img {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 7px rgb(207, 207, 207);
  border-radius: 50%;
}

.nav-line {
  height: 2px;
  background: rgb(61, 223, 223);
  background: linear-gradient(
    90deg,
    rgba(61, 223, 223, 1) 0%,
    rgba(19, 165, 230, 1) 100%
  );
}

.tabIcons {
  width: 36px;
  height: auto;
}

.max-vw-100 {
  max-width: 100vw !important;
}

.logo {
  height: 2em;
  width: auto;
}

.footerLogo {
  height: 3em;
  width: auto;
}

.qs-icon {
  width: 20%;
  height: auto;
  margin: 1.2em auto;
}

.reserva-tu-rig {
  padding: 10px 25px;
}

.intro {
  min-height: 60vh;
  background-image: url(../img/intro-mobile.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

@media (min-width: 768px) {
  /* DESKTOP */
  .intro {
    min-height: 60vh;
    background-image: url(../img/intro-desktop.jpg);
  }

  .navbar {
    min-height: 10vh !important;
  }

  .logo {
    height: 4em;
  }

  .w-md-100 {
    width: 100% !important;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 100vw;
  }

  .cardRig {
    border-radius: 30px;
    padding-top: 5vh;
    position: relative;
  }

  .section-title {
    font-family: "montserrat-bold";
    font-size: 1.3em;
    text-transform: uppercase;
  }

  .iconCripto {
    height: auto;
    width: 10%;
    position: absolute;
    top: -3vh;
    left: 45%;
  }

  .sub-title {
    font-size: 1em;
  }

  .footer-sub-title {
    font-size: 0.97em;
  }

  .social-links {
    font-size: 2.5em;
  }

  .social-links-instagram {
    margin-left: 20px;
    font-size: 2.6em;
  }

  .qs-icon {
    width: 14%;
    height: auto;
    margin: 1em auto;
  }

  .reserva-tu-rig {
    padding: 10px 35px;
  }
}

.rig-minero {
  min-height: 60vh;
}

.optimizacion {
  background-image: url(../img/optimizacion.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  /* border-radius: 100% 100% 100% 100% / 18% 18% 18% 18%; */
}

.triangulos-top {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100vw;
}

.triangulos-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

@media (max-width: 768px) {
  .triangulos-top {
    top: -3px;
    width: 102vw;
  }

  .triangulos-bottom {
    bottom: -3px;
    width: 102vw;
  }
}

.flip {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .optimizacion {
    padding-top: 4em;
    padding-bottom: 4em;
    background-position: center right;
  }
}

.asesoramiento div {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.asesoramiento-bg {
  background-image: url(../img/asesoramiento.png);
  background-attachment: fixed;
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.charts {
  border-radius: 32px;
  box-shadow: 0 0 7px rgb(207, 207, 207);
  padding: 32px;
}

.quienes-somos-card {
  border-radius: 25px;
}

.contacto {
  min-height: 90vh;
  background-image: url(../img/contacto.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.chia {
  margin-top: 0 !important;
  min-height: 90vh;
  background-image: url(../img/ChiaFondo.png);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.chia-leaf {
  position: absolute;
  top: -4.3em;
  left: 45%;
  height: auto;
  width: 10%;
}

.chia-hoja {
  width: 30%;
  height: auto;
  margin: 1.2em auto;
}

.chia-separador {
  height: 25vh;
  background-image: url(../img/chiaCoinBackground.jpg);
  background-position: bottom center;
  background-size: 150% auto;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .chia-leaf {
    top: -3em;
    left: 35%;
    height: auto;
    width: 30%;
  }
}

footer ul {
  list-style-type: none;
}

.footer-icon {
  font-size: 2em;
  background: #3edfdf;
  background: -webkit-linear-gradient(to right, #3edfdf 0%, #0f9fe6 100%);
  background: -moz-linear-gradient(to right, #3edfdf 0%, #0f9fe6 100%);
  background: linear-gradient(to right, #3edfdf 0%, #0f9fe6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .footer-icon {
    font-size: 1.5em;
  }
}
